body{
    margin:0;
    padding:0;
}
nav{
    position: fixed;
    background-color: rgb(19, 17, 16);
    height: 80px;
    width: 100%;
    z-index:111;
}
.upmenu{
    text-align: right;
}
.upmenu li{
    display: inline-block;
    font-family: Verdana;
    font-weight: bold;
    font-size: 13px;
    margin-left:10px;
    margin-right: 7px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
#searchbar{
    outline-style: none;
    border-radius: 5px;
    border:1px solid transparent;
}

.lowermenu li {
    display:inline-block;
    font-family: Verdana;
    font-weight: bold;
    font-size: 13px;
    margin-left:10px;
    color: rgb(255, 255, 255);
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    cursor: pointer;
}

.part1 {
    width:100%;
    background-image: url(wallapaper1.jpg)   ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 660px;
    position: relative;
}

.title {
    color:white;
    font-size: 60px;
    position :absolute;
    top:35%;
    font-family: Verdana;
    font-weight: bold;
    width:40%;
    text-align: center;
    letter-spacing: 1px;
}

.title button {
    outline-style: none;
    position :absolute;
    top:90%;
    left:35%;
    width:150px;
    height: 40px;
    border-radius: 20px;
    border:3px solid black;
    font-family: Verdana;
    font-weight: bold;
    letter-spacing: 1px;
    font-size:15px;
    cursor: pointer;
}
.title button:hover {
    color:white;
    background-color: rgb(65, 65, 65);
}